.footer {
    margin: 92px auto 24px;
    max-width: 1184px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 16px 24px;
    }
}